.custom {
    border: 1px solid white;
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    border-bottom: solid rgb(193, 189, 189);
    padding-left: 50px;
    padding-right: 50px;
}

.bodyupper {
    top: 54px;
    left: 5px;
    right: 5px;
    height: 500px;
    font-size: large;
    border-bottom: solid rgb(193, 189, 189);
    padding-left: 15px;
    padding-right: 15px;
}

.bodyr {
    top: 563px;
    right: 5px;
    width: 500px;
    bottom: 44px;
    border-bottom: solid rgb(193, 189, 189);
    border-left: solid rgb(193, 189, 189);
    padding-left: 5px;
    padding-right: 15px;
}

.bodyl {
    top: 563px;
    left: 5px;
    width: 500px;
    bottom:44px;
    border-right: solid rgb(193, 189, 189);
    border-bottom: solid rgb(193, 189, 189); 
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 30px;
    position:fixed;
}

div {
    background-image: url("../images/pawprintwallpaper.jpeg");
    overflow: scroll;
}

.video {
    float: right;
}

.floatr {
    float: right;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.pawwall {
    background-image: url(../images/pawprintwallpaper.jpeg);
    background-position: top;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.arial3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    font-weight: bolder;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 77, 77)
}

a:hover {
    text-decoration: unset;
}

a:visited {
    color: blue;
}

.center {
    color: rgb(152, 148, 148);
    text-align: center;
    font-size: xx-small;
    border: 5px;
}
:target{
    background-color: rgb(204, 172, 90);
}